@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'IBM Plex Mono', monospace;
    background-image: url('img/background.jpg');
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}
.logo{
     font-size: 2.2rem;
     font-weight: bold;
     color: #66fcf1;
}
.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    padding: 0.5rem 2.3rem;
    font-size: 1.2rem;
    color: #66fcf1;
    margin: 0 0.2rem;
}
.nav-bar ul li a:hover{
    opacity: 0.5;
    transition: 0.5s;
}

@media only screen and (max-width: 1320px){
    header{
        padding: 0 3.125rem;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 1.875rem;
    }
}
@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
   }
    .hamburger .line{
        width: 1.875rem;
        height: 0.188rem;
        background: #66fcf1;
        margin: 0.375rem 0 ;
   }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        width: 100vw;
        background: #0b0c10;
        transition: 0.2s;
        overflow: hidden;
   }
    .nav-bar.active{
        height: 28.125rem;
   }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 5rem auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
   }
    .nav-bar.active ul{
        opacity: 1;
   }
    .nav-bar ul a{
        margin-bottom: 0.8rem;
   }
    .container{
    display: flex;
    flex-direction: column;
   }
}

.container{
    display: flex;
}
.container-item h1{
    padding: 2rem;
    color: #66fcf1;
}

.container-item p{
    padding: 2rem;
    color: #66fcf1;
    width: auto;
}
